<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Contacts</title>
</head>
<body>
    <h1>Liste des Contacts</h1>

    <ul>
        {% for contact in contacts %}
            <li>
                {{ contact.nom }} {{ contact.prenom }} - Email: {{ contact.email }} - Téléphone: {{ contact.numero_tel }}
                <a href="{{ path('modifier_contact', {'id': contact.id}) }}">Modifier</a>
                <a href="{{ path('supprimer_contact', {'id': contact.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce contact ?')">Supprimer</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('creer_contact') }}">Créer un Contact</a>
</body>
</html>
